@import './normalize'
#app
  box-sizing: border-box
  min-height 100vh
  width 100%
  
  line-height: 1.4
.scroll-x
  overflow auto
.center
  margin 0 auto
.limit-width
  min-width 640px
.text-align-right
  text-align right