.container[data-v-de0b55] {
  width: 100%;
  min-height: 100vh;
  background: #fefefe;
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
}
.container .search-box[data-v-de0b55] {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.container .search-box .input[data-v-de0b55] {
  width: 300px;
}

